body{
    background-color: #222222;
    color: #D6FAFF;
    font-family: "Palatino Linotype",Palatino,serif;
}

body a {
  color: #7F49F2;
}

figcaption {
    font-size: 80%;
}

.header {
    align: middle;
    margin-bottom: 30px;
    text-align: center;
}

.header a {
    text-decoration: none;
}

.header h1 {
    color: #7F49F2;
}

.header img {
    height: 400px;
}

.nav {
    background-color: #000000;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.tagline {
    text-align: center;
    align: middle;
    margin-top: -5px;
    font-style: italic;
}