body{
    background-color: #222222;
    color: #D6FAFF;
    font-family: "Palatino Linotype",Palatino,serif;
}

body a {
  color: #7F49F2;
}

figcaption {
    font-size: 80%;
}

.header {
    align: middle;
    margin-bottom: 30px;
    text-align: center;
}

.header a {
    text-decoration: none;
}

.header h1 {
    color: #7F49F2;
}

.header img {
    height: 400px;
}

.nav {
    background-color: #000000;
    bottom: 0px;
    height: 50px;
    left: 0px;
    /* padding-left: 25%; */
    position: fixed;
    width: 100%;
}

.target {
    align: center;
    border-color: #ffffff;
    border-radius: 3px;
    border: 2px;
    float: left;
    height: 46px;
    text-align: center;
    width: 150px;
}

.tagline {
    text-align: center;
    align: middle;
    margin-top: -5px;
    font-style: italic;
}